# Escludi i file e le cartelle di VS Code
.vscode/

# Escludi altri file di configurazione dell'IDE
__pycache__/

# Escludi tutti i modelli tranne Nano-U
/models/*
!/models/Nano-U/

# Escludi tutte le immagini
*.png
!/data/metrics/

# Escludi i frame e le mask (mantengo i data processati)
/data/TinyAgri/
/data/masks/